*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}

body{
    background-color: #121212;
   
    display: flex;
    justify-content: center;
    align-items: center;
    


   
}
audio{
  width: 100%;

}
.home{

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.audio{
  background-color: #f4f4f4;
}
.like-or-not{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
  
}

.like{
  color: #f4f4f4;
  font-size: 50px;
  


}


.header-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2rem;
    
}
.header-subtitle{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
}
.search-label{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 4rem;
}
.card{
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #2C2C2C;
    padding: 1rem;
}


  .dropdown {
    background-color: white;
    border: 1px solid gray;
   
    
   
   
   
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    
  }
  .dropdown-row:hover{
    background-color: gray;
  }
  
  input {
    width: 94%;
    /* remove base styling */
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem;
    border-bottom: #fff 1px solid;
  }

.SlideShow{
  width: auto;
  height: auto;
  background-color: #2C2C2C;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.SlideShow-slides{
  display:flex;
  
  
}
.SlideShow-slide{
  display: flex;
   display: none;
  
}
.current{
  display: block;
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



img {
  width: 100%;
  height: auto;
}
.button{
  background-color: #f4f4f4;
  border: none;
  color: #2C2C2C;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  
}
/* set mobile */
@media screen and (max-width: 740px) {
  .SlideShow{
    margin: 171px auto;
    margin-right: 10px;
    margin-left: 10px;
  } 
   .header-title{
    font-size: 2rem;
    margin-bottom: 1rem;
   }
    .header-subtitle{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .search-label{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .home{
      position: relative;
      margin-top: 419px;
      margin-right: 10px;
   

    }
    
  
  
}
